torch
torchvision
tensorboard
matplotlib
git+https://github.com/tinyobjloader/tinyobjloader.git
pybind11
trimesh>=3.0
tqdm
Pillow
scipy
scikit-image
six
moviepy
opencv-python
plyfile
polyscope
scikit-learn
